button {
   background-color: 	#FF69B4;
   cursor: pointer; 
   justify-content: center;  
   align-items: center; 
}

button:hover {
  background-color: #FF1493;
}

/*input#go {  input#button
    background-color: #4c9ed9;
    color: #ffffff;
    padding: 20px 40px;
    border: 1px solid #111;
  }

  input#go:hover {
    background-color: #ffffff;
    color: #4c9ed9;
    border: 1px solid #111;
  } */
