button {
    height: 40px;
    background-color: #e20074;
    border: 0;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

button:hover {
    background-color: #af076a;
}