button {
  background-color: 	#FF69B4;
  cursor: pointer; 
  justify-content: center;  
  align-items: center; 
  border-width: 2px;
  font-family: inherit;
  font-size: 1.5em;
}

button:hover {
  background-color: #FF1493;
}

