body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 24px;
    color: #e20074;
    line-height: 110%;
    margin-bottom: 10px;
    margin-top: 0;
    position: relative;
    font-weight: 500;
    margin: 0.67em 0;
}

p {
    font-size: 18px;
}

td {
    font-size: large;
}

header {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    display: flex;
}

a:link {
    text-decoration: none;
    color: inherit;
    font: 1em;
}

/* wenn man rechts auf den namen klickt und der dann durch den zeilenumbruch nach unten verschoben wird, 
entsteht ein flackern des namens */

a:visited {
    text-decoration: none;
    color: inherit;
}

#div-search-weekly-report-wrapper {
    flex-grow: 1;
    margin-left: 20px;
    justify-content: right;
    align-items: center;
    display: flex;
}

#input-search-weekly-report {
    width: 450px;
    height: 50px;
    /*margin-right: 200px;*/
}

#div-buttons-weekly-report-header {
    width: 100%;
    display: flex;
    column-gap: 100px;
    margin-bottom: 20px;
}

#div-buttons-weekly-report-header>* {
    flex-grow: 1;
    height: 60px;
}

a>button {
    width: 100%;
    height: 100%;
}

#table-weekly-report {
    display: table;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#table-weekly-report thead {
    border-bottom: 1px solid black;
}

#table-weekly-report thead tr td {
    color: #e20074;
}

#table-weekly-report td,
#table-weekly-report th {
    padding: 10px 13px;
    height: 60px;
}

#table-weekly-report tbody tr {
    border-bottom: 1px solid #dddddd;
}

#table-weekly-report tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#table-weekly-report tfoot tr td button {
    height: 40px;
    width: 50px;
}

#notification-div {
    bottom: 0px;
    display: flex;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 0.25rem;
    color: #155724;
    padding: 10px 0 10px 10px;
    margin-top: 20px;
}

.hidden {
    display: none !important;
}