h1 {
    text-align: center;
}

#form-action-buttons-wrapper-div {
    gap: 10px;
}

button {
    width: 100%;
    height: 50px;
}

/* in tabelle den button leichten grau ton 
flat ui?*/

a {
    text-decoration: none;
}

#show-pwd-checkbox {
    cursor: pointer;
}

button {
    display: flex;
    justify-content: center;
    text-align: center;
}

#form-wrapper-div {
    white-space: pre-line;
    display: flex;
    justify-content: center;
    width: 100vw;
}

#registration-form {
    width: 500px;
}

#registration-form>* {
    width: 100%;
    box-sizing: border-box;
}

#form-action-buttons-wrapper-div {
    display: flex;
    justify-content: center;
    width: 100%;
}

#form-action-buttons-wrapper-div>* {
    flex-grow: 1;
    width: 100%;
}